<header>
    <a href="/">
        <img src="img/icono.ico">
    </a>
    <nav>
        <ul class="hr-list">
            <li><a href="/"><h2>Robots</h2></a></li>
            <li><a href="/contacto"><h2>Contacto</h2></a></li>
        </ul>
    </nav>
    
    <ul class="register">
        <li>
            <button type="button" id="register">Register</button>
        </li>
        <li>
            <button type="button" id="login">Login</button>
        </li>
    </ul>
</header>