<link rel="stylesheet" type="text/css" href="styles/header.css">

<header>
   <div class="div-header">
      <div id="logo">
         <a href="/" aria-label="Go to home">
            <img alt="favicon.ico" src="img/favicon.ico">
         </a>
      </div>
      <div class="div-info">
         <nav>
            <ul class="hr-list">
               <li><a href="/">
                     <h2>Robots</h2>
                  </a></li>
               <li><a href="/contacto">
                     <h2>Contacto</h2>
                  </a></li>
            </ul>
         </nav>
      </div>
      <div class="div-log">
         <ul class="form-log">
            <li>
               <button type="button" id="login">Login</button>
            </li>
            <li>
               <button type="button" id="register">Register</button>
            </li>
         </ul>
      </div>
   </div>
</header>