<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exprreariales</title>
</head>
<body>
    Somos la clase de Grado medio de SMR
</body>
</html>