<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exprreariales</title>
</head>
<body>
    <header>

    </header>
    
    <main style="padding: 100px;">
        Somos la clase de Grado medio de SMR<br>
        <a href="/"><button style="padding: 10px;">Pagina principal</button></a>
    </main>
    
    <footer>

    </footer>
</body>
</html>