<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoboTec</title>
    <link rel="stylesheet" type="text/css" href="styles/robot.css">
    <link rel="icon" type="image/x-icon" href="styles/icono.ico">
</head>
<body>
    <header>
        <a href="/">
            <img src="styles/icono.ico">
        </a>

        <nav>
            <ul class="hr-list">
                <li><a href="/"><h2>Postres</h2></a></li>
                <li><a href="/contacto"><h2>Contacto</h2></a></li>
            </ul>
        </nav>

        <ul class="register">
            <li>
                <button type="button">
                    <a href="">Register</a>
                </button>
            </li>
            <li>
                <button type="button">
                    <a href="">Login</a>
                </button>
            </li>
        </ul>
    </header>

    <main>
        <h1><%= product.name %></h1>
        <div class="product">
            <img src="<%= product.imgUrl %>">
            <p><%- product.description %></p>
        </div>
        <h1><%= product.price %>€</h1>
    </main>

    <footer>

    </footer>
</body>
</html>