header {
   user-select: none;
   position: fixed;
   top: 0;
   height: 13%;
   width: 100%;
   font-size: 15px;
   background-color: rgb(14, 14, 14);
   z-index: 100;

   & .div-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      & #logo {
         display: flex;
         justify-content: start;
         align-items: center;
         height: 100%;
         margin-left: 20px;

         & img {
            width: 80px;
            height: 80px;
         }
      }

      & .div-info {
         display: flex;
         justify-content: center;
         align-items: center;

         & .hr-list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;

            & li {
               margin: 0 10px;

               & a {
                  text-decoration: none;
                  color: inherit;
               }
            }
         }
      }

      & .div-log {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         margin-right: 10px;

         & .form-log {
            list-style: none;
            display: flex;

            & li>button {
               cursor: pointer;
               color: aliceblue;
               border-radius: 5px;
               background-color: rgb(44, 44, 44);
               border: none;
               padding: 10px;
               margin-right: 10px;
               width: 80px;
            }

            & button:hover {
               transition: background-color 0.3s;
               border: none;
               color: black;
               background-color: rgb(141, 235, 141);
            }
         }
      }
   }
}

@media only screen and (max-width: 1000px) {
   header {
      & .form-log {
         margin-right: 30px;
         padding: 0;
      }
   }
}

@media only screen and (max-width: 700px) {
   header {
      & .div-header {
         & h2 {
            font-size: 13px;
         }

         & #logo {
            max-width: 60px;
            max-height: 50px;

            & a {
               width: 100%;
               height: 100%;

               & img {
                  margin: 0;
                  margin-left: 10px;
                  width: 50px;
                  height: 50px;
               }
            }
         }

         & .div-log {
            margin-right: 30px;

            & .form-log {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               padding: 0;
               margin: 0;

               & li>button {
                  padding: 5px;
                  margin: 3px;
               }
            }
         }
      }
   }
}