main {
   width: 100vw;

   & img {
      user-select: none;
   }

   & ::selection {
      background-color: rgb(72, 218, 84);
      color: white;
   }

   & .div-nav {
      padding-top: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;

      & #searchInp {
         padding-left: 10px;
         width: 40%;
         height: 30px;
         background-color: #f2f2f2;
         font-family: sans-serif;
         font-size: 15px;
         border-radius: 10px 0 0 10px;
         border-color: var(--verde);
         border: 2px solid var(--verde);
         outline: none;
      }

      & #search-btn {
         user-select: none;
         border-radius: 0 10px 10px 0;
         background-image: linear-gradient(rgb(6, 223, 96), rgb(96, 255, 143));
         width: 66px;
         height: 36px;
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;

         & img {
            height: 20px;
            width: 20px;
         }
      }

      & #search-btn:active {
         background-image: var(--buttonPulse);
      }
   }

   & .div-main {
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;
      min-height: 65vh;
      height: auto;

      & .category {
         user-select: none;
         grid-column-start: 1;
         display: flex;
         flex-direction: column;
         padding-left: 100px;
         width: 100%;
         height: 100%;

         & .btn-category {
            height: 40px;
            width: 150px;
            color: black;
            border-radius: 5px;
            background-image: var(--button);
            font-size: 20px;
            margin-top: 20px;
            border: none;
            cursor: pointer;
            transition: background-image 0.5s ease;
         }

         & .btn-category:active {
            background-image: var(--buttonPulse);
         }
      }

      & .links {
         grid-column-start: 3;
         display: flex;
         flex-direction: column;
         align-items: end;
         width: 100%;
         height: 100%;
      }

      & .div-products {
         height: auto;
         display: grid;
         justify-content: center;
         align-items: center;
         grid-template-columns: repeat(3, 0.1fr);
         gap: 40px;
         margin-bottom: 50px;

         & .card {
            border-radius: 10px;
            height: 400px;
            width: 300px;
            cursor: pointer;
            overflow: hidden;
            background-color: rgb(216, 216, 216);
            background-image: linear-gradient(rgb(216, 216, 216), rgb(231, 231, 231));
            color: black;

            & a {
               text-decoration: none;                  
            }

            & img {
               width: 100%;
               height: 300px;
               object-fit: cover;
               border-radius: 5px;
               transition: transform 0.3s ease;
               &:hover {
                  transform: scale(1.1);
               }
            }

            & h2 {
               text-align: center;
            }

            & p {
               text-align: center;
               display: -webkit-box;
               -webkit-line-clamp: 3;
               -webkit-box-orient: vertical;
               overflow: hidden;
               text-overflow: ellipsis;
            }
         }
      }
   }
}

@media only screen and (max-width: 1300px) {
   main {

      & .div-nav {
         margin-top: 10vh;
         margin-bottom: 0;
      }

      & .div-main {
         display: inline-block;
         width: 100%;

         & .div-products {
            grid-template-columns: repeat(2, 0.1fr);
         }

         & .div-nav {
            margin: 60px auto;
         }

         & .category {
            flex-direction: row;
            justify-content: center;
            margin: 100px 0;
            padding: 0;

            & .btn-category {
               margin: 10px;
            }
         }
      }
   }
}

@media only screen and (max-width: 700px) {
   main {
      padding-top: 10%;

      & .div-nav {
         margin-bottom: 0;
      }

      & .div-main {

         & .category {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
         }

         & .div-products {
            grid-template-columns: repeat(1, 0.1fr);
         }

         .products {
            width: 100%;
         }
      }
   }
}