body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: rgb(20, 20, 20);

    & img {
        position: absolute;
        left: 0;
        margin-left: 30px;
        height: 100px;
        width: 100px;
    }

    & li{
        list-style: none;
        color: rgb(255, 255, 255);
        & a {
            text-decoration: none;
            color: inherit;
        }
    }
    
    & .hr-list {
        display: flex;
        font-weight: 900px;
        font-size: 30px;
        padding: 0;
        & li {
            margin-right: 20px;
        }
    }

    & .register {
        display: flex;
        position: absolute;
        right: 20;
        & li {
            margin-right: 20px;
        }
    }
}

main {
    color: black;
    background-color: rgb(185, 255, 232);
    height: 80%;
    padding: 10%;

    & .div-main {
        & img{
            height: 300px;
            width: 300px;
            border-radius: 10px;
        }
    }
}

footer {
    height: 10%;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
