body{
    margin: 0;
    font-family: monospace;
    overflow-y: scroll;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    font-size: 20px;
    background-color: rgb(185, 255, 232);
    border-bottom: 4px solid rgb(44, 255, 185);
    & img {
        position: absolute;
        left: 30;
        top: 20;
        height: 80px;
        width: 80px;
    }
    & li{
        list-style: none;
        & a {
            text-decoration: none;
            color: inherit;
        }
    }
    & .hr-list {
        display: flex;
        padding: 0;
        & li {
            margin-right: 20px;
        }
    }
    & .register {
        display: flex;
        position: absolute;
        right: 20;
        & li {
            margin-right: 20px;
            & button{
                color: aliceblue;
                border-radius: 10px;
                background-color: rgb(24, 24, 24);
                font-weight: 500;
                height: 40px;
                width: 80px;
            }
            & button:hover{
                transition:  background-color 0.3s;
                border: none;
                color: black;
                background-color: rgb(44, 255, 185);
                border: 5px solid rgb(255, 255, 255);
            }
        }
    }
}


main{
    padding: 200px 100px;
    & h1{
        text-align: center;
        margin-bottom: 50px;
    }
    .product{
        display: flex;
        justify-content: center;
        align-items: center;
        & p{
            padding: 20px;
            font-size: 20px;
        }
        & img{
            height: 400px;
            width: 400px;
        }
    }
}
