main{
    color: black;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .product{
        display: grid;
        justify-content: center;
        align-content: center;
        height: 50%;
        width: 50%;
        & .title{
            grid-column-start: span 2;
            text-align: center;
            padding: 20px;
        }
        & img{
            align-self: center;
            grid-column-start: 1;
            max-height: 400px;
            max-width: 400px;
            object-fit: contain;
        }
        & p{
            grid-column-start: 2;
            padding: 30px;
            font-size: 20px;
        }
        & .price{
            margin: 0;
            grid-column-start: 2;
            grid-row-start: 3;
        }
        & button {
            color: aliceblue;
            grid-column-start: 3;
            grid-row-start: 3;
            border-radius: 5px;
            background-color: rgb(44, 44, 44);
            border: none;
            height: 50px;
            width: 120px;
            margin: 0 50px 50px 0px;
        }
        & button:active{
            transition:  all 0.2s;
            border: none;
            background-color: rgb(105, 105, 105);
        }
    }
    & .div-specs{
        width: 50%;
        background-color: var(--verde);
        padding: 0 40px 20px 40px;
        border-radius: 5px;
        margin-bottom: 50px;
    }
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 1000px) {
    main{
      padding-top: 15%;
    }
}
  
@media screen and (max-width: 700px) {
    header{
      & .hr-list{
        padding-right: 70px;
        font-size: 15px;
      }
      & img{
        top: 20;
        height: 70px;
        width: 70px;
      }
      & .register {
        right: 5;
        & li {
            margin-right: 10px;
            & button{
                height: 35px;
                width: 70px;
            }
        }
      }
    }
    main {
      padding-top: 30%;
      & h1{
        margin: 0;
        padding: 0;
      }
      .product {
        flex-direction: column;
        width: 100%;
        & p{
            width: 100%;
        }
        & img{
            padding-top: 10%;
            width: 90vw;
            height: auto;
        }
      }
    }
}

/* Media Queries para pantallas más pequeñas. */
@media screen and (max-width: 470px) {
    body{
        .form {
        min-width: 300px;
        text-align: center;
        & .form-content{
            padding: 10px 13px;
        }
        & h1{
            margin-top: -20px;
        }
        }
    }
    header{
        & .hr-list{
        padding-right: 80px;
        font-size: 10px;
        & li{
            margin: 5px;
        }
        }
        & img{
        top: 25;
        height: 50px;
        width: 50px;
        }
        & .register {
        right: 5;
        & li {
            margin-right: 10px;
            & button{
                height: 30px;
                width: 60px;
            }
        }
        }
    }
    main{
        & .product{
            align-content: center;
            justify-content: center;
            & img{
                grid-column-start: 1;
                margin-left: 0;
            }
            & button{
                grid-column-start: 1;
                margin-left: 170px;
                margin-bottom: 20px;
            }
            & p{
                grid-column-start: 1;
                padding: 10px;
            }
            & .price{
                grid-column-start: 1;
            }
        }
    }
}
